@page "{id}"
@model WebApp.Pages.Schools.Details.LanguageModel
@{
    //ViewData["Title"] = "Details";
}
@using Core.Entities;

<style>
    .my-5 {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .rating-input {
        display: flex;
        align-items: center;
    }

    .stars {
        display: inline-flex;
    }

    .rating-input .stars {
        margin-left: 1.25rem;
    }

    .stars .star {
        cursor: pointer;
        color: gray;
        transition: color 0.2s;
    }

        .stars .star.checked {
            color: gold;
        }
</style>
<div class="my-5 container">
    <h1 class="text-body-emphasis p-4 text-center">@Model.LanguageSchool.Name</h1>

    <div class="card">
        <div class="card-body">
            <p class="card-text">City: @Model.LanguageSchool.City</p>
            <p class="card-text">Number: @Model.LanguageSchool.Number</p>
            <p class="card-text">Type: @Model.LanguageSchool.Type school</p>
            <p class="card-text">Rating: @Model.LanguageSchool.Rating</p>
            <p class="card-text">Type Rank: @Model.LanguageSchool.TypeRank</p>
            <p class="card-text">General Rank: @Model.LanguageSchool.OverallRank</p>
            <p class="card-text">Primary language: @Model.LanguageSchool.PrimaryLanguage</p>
            <p class="card-text">Secondary language: @Model.LanguageSchool.SecondaryLanguage</p>
            @if (Model.LanguageSchool.ScoreRequirement == null && Model.LanguageSchool.ScoreRequirement == 0)
            {
                <p class="card-text">Score requirement: None</p>
            }
            else
            {
                <p class="card-text">Score requirement: @Model.LanguageSchool.ScoreRequirement</p>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="">
        <h2 class="p-4 text-center">Reviews</h2>

        @foreach (var review in Model.Reviews)
        {
            <div class="card">
                <div class="card-body">
                    <div>
                        <h6 class="card-subtitle mb-2 text-muted">@review.CreatedAt</h6>
                        <p class="card-text">@review.Content</p>
                        <div class="stars">
                        @for (int i = 0; i < review.Rating; i++)
                        {
                            <span class="fa fa-star star checked"></span>
                        }
                        </div>
                    </div>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <a asp-page="/Reports/Create" asp-route-id="@review.Id" class="btn btn-danger me-2 mt-2">Report</a>
                    }
                </div>
            </div>
        }
    </div>

    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div class="my-5">
            <h2 class="text-center">Add Review</h2>
            <form method="post">
                <div class="mb-3">
                    <label for="reviewContent" class="form-label">Content <span class="required">*</span></label>
                    <textarea asp-for="ReviewViewModel.Content" class="form-control" id="reviewContent" rows="3"
                              placeholder="Write your review"></textarea>
                    <span asp-validation-for="ReviewViewModel.Content"></span>
                </div>
                <div class="mb-3">
                    <label for="rating-input" class="form-label">Rating <span class="required">*</span></label>
                    <div class="rating-input">
                        <input asp-for="ReviewViewModel.Rating" type="number" min="0" max="5" step="1" class="star-input">
                        <div class="stars"></div>
                    </div>
                    <input type="hidden" id="rating" name="rating" value="0">
                    <span asp-validation-for="ReviewViewModel.Rating"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    }
</div>

<script>
    const raitngInput = document.querySelector('.rating-input');
    const starInput = raitngInput.querySelector('.star-input');
    const stars = raitngInput.querySelector('.stars');

    function updateStars() {
        const rating = parseFloat(starInput.value);
        stars.innerHTML = '';

        for (let i = 1; i <= 5; i++) {
            const star = document.createElement('span');
            star.classList.add('fa', 'fa-star', 'star', i <= rating ? 'checked' : null);
            star.addEventListener('click', () => {
                starInput.value = i;
                updateStars();
            });
            stars.appendChild(star);
        }
    }

    starInput.addEventListener('input', updateStars);
    updateStars();
</script>