@page
@using Core.Enums;
@model WebApp.Pages.Schools.IndexModel
@{
    ViewData["Title"] = "Schools";
}

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Educational Institutions</h1>
                <p class="lead text-body-secondary">Here are all of the rated and the reviewed educational institutions. By clicking on them, page with all reviews for the clicked school will be displayed as well as review and rating creation form.</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var school in Model.Schools)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            <div class="card-body">
                                <div class="card-text">
                                    <h2>@school.Name</h2>
                                    <ul>
                                        <li>N: @school.Number</li>
                                        <li>City: @school.City</li>
                                        <li>Type: @school.Type</li>
                                        <li>Type rank: @(school.TypeRank == 0 ? "None" : school.TypeRank)</li>
                                        <li>Overall rank: @(school.OverallRank == 0 ? "None" : school.OverallRank)</li>
                                    </ul>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-body-secondary">@(school.Rating == 0 ? "Not rated" : school.Rating)</small>
                                    @{
                                        String direction = "";
                                        switch (school.Type)
                                        {
                                            case SchoolType.Language:
                                                direction = "Language";
                                                break;
                                            case SchoolType.STEM:
                                                direction = "STEM";
                                                break;
                                            case SchoolType.Specialized:
                                                direction = "Specialized";
                                                break;
                                        }
                                    }
                                    <a asp-page="/Schools/Details/@direction" asp-route-id="@school.Id" class="btn btn-primary">View Review and Ratings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
</main>